BODY {
    background-color: #fff;
    font-family: Roboto, Lato, sans-serif;
    font-size: 18px;
    margin: 0;
}

H1 {
    margin: 0.67em 0;
}

NAV {
    position: sticky;
    top: 0;
    height: 75px;
    transition: color 0.5s, background-color 0.5s;
    line-height: 75px;
    z-index: 100;
    color: #000;
    background-color: #fff;
}

NAV a, NAV span {
    transition: color 0.5s;
}

BODY.nav-not-at-top NAV {
    color: #fff;
    background-color: #017DBC;
    box-shadow: 0px 2px 8px black;
}

HEADER, SECTION {
    padding: 100px 10px 100px 10px;
}
  
#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 100px;
    left: 0;
}

.dot {
    margin: 0 5px 0 5px;
}

.nav-links, .nav-links a {
    white-space: nowrap;
}
.nav-links, .nav-links a:not(.action-button) {
    color: black;
}
BODY.nav-not-at-top .nav-links, BODY.nav-not-at-top .nav-links a {
    color: white;
}

.logo-text a {
    font-size: 1.5em;
    color: black;
}
BODY.nav-not-at-top .logo-text a {
    color: white;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

a {
    text-decoration: none;
    color: rgb(44, 44, 255);
}

.hero-img {
    display: inline-block;
    width: 100%;
    height: auto;
    border: 0;
    margin-top: 10px;
}

.one-liner-header {
    color: #000;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.one-liner {
    color: #145DA0;
    font-size: 18px;
    line-height: 1.75;
}

.how-we-do-it li {
    margin-bottom: 20px;
}

.our-way h3, .their-way h3 {
    color: #145DA0;
}

.our-way {
    box-shadow: 0px 0px 30px rgb(0, 214, 0);
    padding: 10px;
    border-radius: 10px;
    border: solid 3px rgb(0, 214, 0);
}
.our-way li {
    list-style-image: url(images/check.png);
}

.their-way {
    box-shadow: 0px 0px 10px rgb(248, 51, 51);
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
}
.their-way li {
    list-style-image: url(images/x.png);
}

.action-button {
    display: inline-block;
    background-color: #00AA00;
    color: white;
    border-radius: 2em;
    box-shadow: 0 0 4px black;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
.action-button:hover {
    box-shadow: 0 0 8px black;
}
.action-button.block {
    display: block;
}
.action-button.inline {
    display: inline;
}

.learn-more-nav {
    width: 250px;
}
.learn-more-nav > div {
    margin-bottom: 20px;
}

.img-header {
    color: #0C2D48;
    font-family: Lato, sans-serif;
    font-size: 19pt;
    font-weight: 400;
    line-height: 1.4;
    margin: 20px 0 20px 0;
    text-align: center;
}

.flex-grid {
    display: flex;
    align-items: center;
    margin: 0 20% 0 20%;
}

.flex-grid.align-top {
    align-items: initial;
}

.flex-grid.no-margin {
    margin: 0;
}

.space-around {
    justify-content: space-around;
}

.col {
    flex: 1;
    margin: 0 20px 0 20px;
}

.calc-wage {
    width: 50%;
    margin: 20px;
}

.content {
    margin: 10px 10% 10px 10%;
}

@media (max-width: 1400px) {
    .flex-grid {
        margin: 0 3px 0 3px;
    }

    .col {
        margin: 0 10px 0 10px;
    }
}

@media (max-width: 600px) {

    HEADER, SECTION {
        padding: 10px;
    }

    .nav {
        height: 60px;
        line-height: 60px;
    }

    .one-liner-block {
        display: block;
        margin-right: 0;
    }

    .flex-grid {
        margin: 0 3px 0 3px;
    }
    .flex-grid:not(.row) {
        flex-direction: column;
    }

    .col {
        margin: 0 3px 20px 3px;
    }
    .col.first-on-mobile {
        order: 1;
    }

    .hide-on-mobile {
        display: none;
    }

    .nav-links *:not(.action-button) {
        display: none;
    }

    .mission-statement {
        padding: 20px 3px 20px 3px;
    }

    .how-we-do-it :nth-child(2) {
        order: 3;
    }
    .how-we-do-it .col:not(.our-way) {
        padding-top: 0px;
    }
}

.separator {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    background-color: #B1D4E0;
    display: block;
}

.job-requirements li {
    margin-bottom: 10px;
}
.job-requirements li::marker {
    color: #145DA0;
    font-size: 28px;
}

.img1 {
    display: inline-block;
    width: 70%;
    height: auto;
    border: 0;
}

FOOTER, FOOTER a {
    color: white;
    background-color: #017DBC;
}
FOOTER .flex-grid {
    font-size: 22px;
}

.company-info {
    margin-top: 40px;
}

.form {
	margin: 0;
	padding: 0;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form label:not(.unformatted){
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form input[type=text], 
.form input[type=email],
.form input[type=tel],
.form input[type=file],
select,
textarea{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
    border-radius: 4px;
	padding: 7px;
	margin:0px;
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form input[type=text]:focus, 
.form input[type=email]:focus,
.form input[type=tel]:focus,
.form input[type=file]:focus,
.form textarea:focus, 
.form select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form .field-divided{
	width: 49%;
}

.form .field-long{
	width: 100%;
}
.form .field-select{
	width: 100%;
}
.form .field-textarea{
	height: 100px;
}
.form input[type=submit], .form input[type=button]{
	background: #017DBC;
	padding: 8px 15px 8px 15px;
	border: none;
    border-radius: 4px;
	color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.form input[type=submit]:hover, .form input[type=button]:hover{
	background: #0071aa;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form .required{
	color:red;
}
